
node_modules
.vs/ProjectEvaluation/repositoryb.metadata.v6.1
.vs/ProjectEvaluation/repositoryb.projects.v6.1
.vs/RepositoryB/DesignTimeBuild/.dtbcache.v2
.vs/RepositoryB/FileContentIndex/335bc5b7-3bb0-4875-8c4a-e36d5d100a4a.vsidx
.vs/RepositoryB/FileContentIndex/51712138-8da6-43e7-b52f-44f8793883e3.vsidx
.vs/RepositoryB/FileContentIndex/540c3c69-e128-4d39-b5a7-72fdd5831009.vsidx
.vs/RepositoryB/FileContentIndex/6ba77d06-373c-4518-8933-c838913d1472.vsidx
.vs/RepositoryB/FileContentIndex/a8354080-e003-41af-bb2e-e516048719b2.vsidx
.vs/RepositoryB/FileContentIndex/e4d00897-eded-4d77-a19a-d8c109a83464.vsidx
.vs/RepositoryB/FileContentIndex/read.lock
.vs/RepositoryB/v17/.futdcache.v2
.vs/RepositoryB/v17/.suo
