.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }
  
  .container {
    margin: auto;
    width: 50%;
    padding: 16px;
    background: #111e55;
    color: #fff;
    border-radius: 25px;
    text-align: center;
  }

  .displayCntr {
    display: flex;
  }
  
  .form {
    display: flex;
    text-align: left; /* Align form elements to the left */
    flex-direction: column;
  }
  
  .h1 {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 15px;
    font-weight: 700;
  }

  .labelFlex {
    margin-bottom: 15px;
    margin-left: 55px;
    font-weight: 700;
  }
  
  input {
    margin-bottom: 15px;
  }

  select {
    width: 225px;
    padding: 15px;
    margin: 5px 0 22px 55px ;
    display: inline-block;
    border: none;
    background: whitesmoke;
    border-radius: 8px;
  }

  select:focus {
    background-color: #ddddddd9;
    outline: none;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='tel'],
  input[type='date'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
    border-radius: 8px;
  }

  input[type='date'] {
    width: 225px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
    border-radius: 8px;
  }

  input[type='text']:focus,
  input[type='password']:focus,
  input[type='email']:focus,
  input[type='tel']:focus,
  input[type='date']:focus {
    background-color: #ddddddd9;
    outline: none;
  }

  .registerbtn {
    background-color: #1fc396;
    color: #111e55;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
    font-weight: 800;
    font-size: large;
    border-radius: 15px;
  }

  .typeRegisterBtn {
    background-color: #1fc396;
    color: #111e55;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: auto;
    opacity: 0.8;
    font-weight: 800;
    font-size: large;
    border-radius: 15px;
  }

  .registerbtn:hover {
    opacity: 1;
  }

  .radiogroup {
    display: flex;
    align-items: right;
  }

  .radiogroup label {
    flex: 10;
  }

  .radiogroup input {
    flex: 1;
  }