.justifiedText {
    text-align: justify;
    color: #1A2E83;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

a {
    color: inherit;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }
