.justifiedText {
  text-align: justify;
  color: #1A2E83;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 15px;
}

.mapContainer {
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

iframe {
  width: 100%;
  height: 500px;
}

a {
  color: #1A2E83;
  transition: color 0.2s ease;
}

a:hover {    
  color: #1fc396;
}

.button {
  background-color: #fff;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 0 0 0 5px;
}

.button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  border: 3.75px solid #1fc396;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button:hover::after {
  opacity: 1;
}

.sclogo {
  height: 40px;
  width: 40px;
}

.divsocialslogo {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  padding-top: 50px;
}

.divsocials {
  display: flex;
  align-items: justify;
}

.socialbtn {
  padding-left: 35px;
}

.socialsdiv {
  width: 60%;
}