.justifiedText {
    text-align: justify;
    color: #1A2E83;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.mapContainer {
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 500px;
}

a {
    color: inherit;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }