.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.a {
  color: #1A2E83;
  transition: color 0.2s ease;
}

.a:hover {
  color: #1fc396;
}

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 50%;
  padding: 16px;
  background: #111e55;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  overflow-x: hidden;
}

.form {
  display: flex;
  text-align: left;
  /* Align form elements to the left */
  flex-direction: column;
  height: auto;
}

.h1 {
  margin-bottom: 20px;
}

label {
  margin-bottom: 15px;
  display: block;
  font-weight: 700;
}

input {
  margin-bottom: 15px;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: #1fc396;
  color: #111e55;
  padding: 16px;
  cursor: pointer;
  width: 100%;
  margin: auto;
  opacity: 0.8;
  font-weight: 800;
  font-size: large;
  border-radius: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:disabled {
  background-color: #353535;
  color: #fff;
}

.button:hover {
  background-color: #26ecb7;
  transform: scale(1.01);
}

.button:hover:disabled {
  background-color: #353535;
  color: #fff;
}

.button::before {
  content: '';
  position: absolute;
  background-color: #26ecb7;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.button:hover::before {
  opacity: 1;
  transform: scale(1);
}

.button:hover::after {
  opacity: 0;
}


.linkcontainer {
  display: block;
  margin-top: 10px; /* Adjust the margin-top as needed for spacing */
  text-align: center;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%; /* Increase the width of the container */
  }
}