.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 50%;
  padding: 16px;
  background: #111e55;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  overflow-x: hidden;
}

.form {
  text-align: left;
}

.h1 {
  margin-bottom: 20px;
}

label {
  margin-bottom: 15px;
  display: block;
  font-weight: 700;
}

input {
  margin-bottom: 15px;
}

.button {
  background-color: #1fc396;
  color: #111e55;
  padding: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: auto;
  opacity: 0.8;
  font-weight: 800;
  font-size: large;
  border-radius: 15px;
}

.button:hover {
  opacity: 1;
}

.linkcontainer {
  display: block;
  margin-top: 10px; /* Adjust the margin-top as needed for spacing */
  text-align: center;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}