.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 110px;
    background-color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 0 83px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
}

.logo {
    height: 60px;
}

.navbar ul li a {
    color: #1A2E83;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.accounticon {
    height: 24px;
}

.dropdown {
    height: 8px;
}

.search {
    height: 24px;
}