/* ResearchList.module.css */
.formContainer {
    display: flex;
    flex-direction: column;
    height: auto;
}
    

.formContainer input,
.formContainer textarea,
.formContainer button {
    margin-bottom: 10px; /* voeg ruimte toe tussen velden */
}

.container {
        
        text-align: justify;
        color: #1A2E83;
        background-color: white;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        border-radius: 15px;
    }

  .button {
    position: relative;
    overflow: hidden;
    background-color: #1fc396;
    color: #111e55;
    padding: 16px;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
    font-weight: 800;
    font-size: large;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .button:hover {
    background-color: #26ecb7;
    transform: scale(1.01);
  }
  
  .button::before {
    content: '';
    position: absolute;
    background-color: #26ecb7;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .button:hover::before {
    opacity: 1;
    transform: scale(1);
  }
  
  .button:hover::after {
    opacity: 0;
  }